.root {
  background: var(--white-1);
  box-shadow: rgba(99, 99, 99, 0) 0px 2px 8px 0px;
  padding: 0 10px 10px 10px;
  position: sticky;
  top: -30px;
  z-index: 99;

  & .logo {
    cursor: pointer;

    & img {
      width: 126px;
      object-fit: cover;
    }
  }

  & .button {
    width: 150px;
    background: var(--dark-blue) !important;
  }

  & .textField {
    width: 60%;
    border-radius: 20px !important;
  }
}
