.section_form {
  width: 70%;
  display: flex;
  align-items: center;

  & .textField {
    padding: 5px;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 70%;
    background: transparent;
    color: #fff;
  }
}
